# DICTIONARY

In [32]:
mydict = dict()
mydict

{}

In [34]:
mydict = {}
mydict

{}

In [36]:
mydict = {1:'one',2:'two',3:'three',4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [40]:
mydict.keys()

dict_keys([1, 2, 3, 4])

In [42]:
mydict.values()

dict_values(['one', 'two', 'three', 'four'])

In [44]:
mydict.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')])

In [46]:
mydict = {1:'one',2:'two',3:'three',4:'four','A':['uday','bijoy','victor']}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 'A': ['uday', 'bijoy', 'victor']}

In [48]:
mydict = {1:'one',2:'two',3:'three',4:'four','A':['uday','bijoy','victor'],'B':['arjun','sarkar','vikram']}
mydict

{1: 'one',
 2: 'two',
 3: 'three',
 4: 'four',
 'A': ['uday', 'bijoy', 'victor'],
 'B': ['arjun', 'sarkar', 'vikram']}

In [50]:
keys = {'a','b','c','d'}
mydict3 = dict.fromkeys(keys) # create a dictionary from a sequence of keys
mydict3

{'d': None, 'b': None, 'a': None, 'c': None}

In [56]:
keys = {'a','b','c','d'}
value = 10
mydict3 = dict.fromkeys(keys,values) # create a dictionary from a sequence of keys
mydict3

{'d': {10}, 'b': {10}, 'a': {10}, 'c': {10}}

In [62]:
keys = {'a','b','c','d'}
values = [10,20,30]
mydict3 = dict.fromkeys(keys,values) # create a dictionary from a sequence of keys
mydict3

{'d': [10, 20, 30], 'b': [10, 20, 30], 'a': [10, 20, 30], 'c': [10, 20, 30]}

# ACCESSING ITEMS

In [65]:
mydict = {1:'one',2:'two',3:'three',4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [67]:
mydict[1]

'one'

In [71]:
mydict.get(1)

'one'

In [73]:
mydict1 = {'name':'uday','address':'hyderabad','mobile number':1234556789,'id':2345,'job':'developer'}
mydict1

{'name': 'uday',
 'address': 'hyderabad',
 'mobile number': 1234556789,
 'id': 2345,
 'job': 'developer'}

In [75]:
mydict1['name']

'uday'

In [81]:
mydict1['address']

'hyderabad'

# ADD,REMOVE & CHANGE ITEMS

In [114]:
mydict1 = {'name':'uday','address':'hyderabad','mobile number':1234556789,'job':'developer','id':2345,'dob':1992}
mydict1

{'name': 'uday',
 'address': 'hyderabad',
 'mobile number': 1234556789,
 'job': 'developer',
 'id': 2345,
 'dob': 1992}

In [116]:
mydict1['dob']=1993
mydict1['address'] ='mumbai'
mydict1

{'name': 'uday',
 'address': 'mumbai',
 'mobile number': 1234556789,
 'job': 'developer',
 'id': 2345,
 'dob': 1993}

In [118]:
dict1 ={'dob':1993} # changing dict items
mydict1.update(dict1)
mydict1

{'name': 'uday',
 'address': 'mumbai',
 'mobile number': 1234556789,
 'job': 'developer',
 'id': 2345,
 'dob': 1993}

In [120]:
mydict1['job'] = 'developer'
mydict1

{'name': 'uday',
 'address': 'mumbai',
 'mobile number': 1234556789,
 'job': 'developer',
 'id': 2345,
 'dob': 1993}

In [126]:
mydict1.pop('job')

KeyError: 'job'

In [128]:
mydict1

{'name': 'uday',
 'address': 'mumbai',
 'mobile number': 1234556789,
 'id': 2345,
 'dob': 1993}

In [130]:
mydict.popitem()

(4, 'four')

In [132]:
mydict1

{'name': 'uday',
 'address': 'mumbai',
 'mobile number': 1234556789,
 'id': 2345,
 'dob': 1993}

In [138]:
del[mydict1['id']]
mydict1

{'name': 'uday', 'address': 'mumbai', 'mobile number': 1234556789, 'dob': 1993}

In [140]:
mydict1.clear()
mydict1

{}

# copy dictionary

In [145]:
mydict = {'Name':'uday' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hyderabad'} 
mydict

{'Name': 'uday', 'ID': 12345, 'DOB': 1991, 'Address': 'Hyderabad'}

In [147]:
mydict1 = mydict

In [151]:
id(mydict),id(mydict1)

(1720855208256, 1720855208256)

In [153]:
mydict2 = mydict.copy()

In [155]:
id(mydict2)

1720856862976

In [157]:
mydict['address'] = 'chennai'
mydict

{'Name': 'uday',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hyderabad',
 'address': 'chennai'}

In [159]:
mydict1

{'Name': 'uday',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hyderabad',
 'address': 'chennai'}

In [161]:
mydict2

{'Name': 'uday', 'ID': 12345, 'DOB': 1991, 'Address': 'Hyderabad'}

# LOOP THROUGH A DICTIONARY

In [164]:
mydict1 = {'name':'uday','address':'hyderabad','dob':1991,'id':2345}
mydict1

{'name': 'uday', 'address': 'hyderabad', 'dob': 1991, 'id': 2345}

In [168]:
for i in mydict1:
    print(i,':',mydict1[i])

name : uday
address : hyderabad
dob : 1991
id : 2345

In [170]:
for i in mydict1:
    print(mydict1[i])

uday
hyderabad
1991
2345

# dictionary membership

In [175]:
mydict1 = {'name':'uday','id':23456,'address':'hyderanad','dob':  1991,'job':'developer'}
mydict1

{'name': 'uday',
 'id': 23456,
 'address': 'hyderanad',
 'dob': 1991,
 'job': 'developer'}

In [177]:
'name' in mydict1# test if a key is in a dictionary or not

True

In [179]:
'uday'  in mydict1 # membership test can be only for  keys.

False

In [181]:
'id' in mydict1

True

In [183]:
23456 in mydict1

False

In [185]:
'address' in mydict1

True

In [187]:
'hyderabad' in mydict1

False

In [189]:
mydict1

{'name': 'uday',
 'id': 23456,
 'address': 'hyderanad',
 'dob': 1991,
 'job': 'developer'}

In [197]:
mydict1

{'name': 'uday',
 'id': 23456,
 'address': 'hyderanad',
 'dob': 1991,
 'job': 'developer'}

In [199]:
all(mydict1)

True