# This is a sample Jupyter Notebook

Below is an example of a code cell. 
Put your cursor into the cell and press Shift+Enter to execute it and select the next one, or click 'Run Cell' button.

Press Double Shift to search everywhere for classes, files, tool windows, actions, and settings.

To learn more about Jupyter Notebooks in PyCharm, see [help](https://www.jetbrains.com/help/pycharm/ipython-notebook-support.html).
For an overview of PyCharm, go to Help -> Learn IDE features or refer to [our documentation](https://www.jetbrains.com/help/pycharm/getting-started.html).

In [50]:
from jupyter_server.terminal import initialize

if True:
    print('data science')

data science

In [52]:
if False:
    print('data science')
    print('bye for now')

In [54]:
if True:
    print('data science')
    print('bye for now')

data science
bye for now

In [56]:
if True:
    print('data science')
else:
    print('bye for now')

data science

In [58]:
if False:
    print('data science')
else:
    print('bye for now')

bye for now

# PROGRAM

In [61]:
x = 4
r = x%2
if r == 0:
    print('Even number')

Even number

In [63]:
x = 5
r = x%2
if r == 0:
    print('Even number')

In [65]:
x = 5
r = x%2
if r == 0:
    print('Even number')
    if r == 1:
        print('odd number')

In [67]:
x = 5
r = x%2
if r == 0:
    print('Even number')
    if r!=0:
         print('odd number')

In [69]:
x = 4
r = x%2
if r == 0:
    print('Even number')
else:
    print('Odd number')

Even number

In [71]:
x = 3
r = x%2
if r==0:
    print('Even number')
    if x>5:
        print('greater number')
else:
        print('odd number')

odd number

In [73]:
x = 4
r = x%2
if r==0:
    print('Even number')
    if x>5:
        print('greater number')
    else:
        print('lesser number')
else:
    print('odd number')

Even number
lesser number

In [75]:
x = 6
r = x%2
if r==0:
    print('Even number')
    if x>5:
        print('greater number')
    else:
        print('not greater')
else:
    print('odd number')

Even number
greater number

In [77]:
x = 4
if x == 1:
    print('one')
if x == 2:
    print('two')
if x == 3:
    print('three')
if (x==4):
    print('four')

four

In [79]:
x = 5
if x == 1:
    print('one')
elif x == 2:
    print('two')
elif x == 3:
    print('three')
elif x == 4:
    print('four')
else:
    print('number not found')

number not found

# LOOPS IN PYTHON

In [82]:
print('data science')
print('data science')
print('data science')
print('data science')
print('data science')

data science
data science
data science
data science
data science

In [84]:
i = 1
while i <= 5:
    print('data science')
    i = i + 1# increment

data science
data science
data science
data science
data science

In [86]:
i = 5 # initializing
while i > 1:
    print('data science')
    i = i - 1 #  decrement

data science
data science
data science
data science

In [88]:
i = 1
while i <=5:
    print('data science',i)
    i = i + 1

data science 1
data science 2
data science 3
data science 4
data science 5

In [90]:
i =  1
while i <=5:
    print('data science',i)
    j = 1
    while j <= 4:
        print('technology',j)
        j = j + 1
        i = i + 1
        print()

data science 1
technology 1

technology 2

technology 3

technology 4

data science 5
technology 1

technology 2

technology 3

technology 4

In [92]:
i = 1
while i<=5:
    print('data science',end ="")
    j = 1
    while j<= 4:
        print('technology',end ="")
        j = j + 1
    i = i + 1
    print()

data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology

In [94]:
i = 1
while i<=4:
    j = 0
    while j<= 3:
        print(i*j,end =" ")
        j += 1

    print()
    i +=1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

# FOR LOOP

In [97]:
name = 'uday'
for i in name:
    print(i)

u
d
a
y

In [99]:
name1 = [1,3.5,'uday']
for i in name1:
    print(i)

1
3.5
uday

In [101]:
for i in[1,2,3.5,'bro']:
    print(i)

1
2
3.5
bro

In [103]:
for i in range(5):
    print(i)

0
1
2
3
4

In [105]:
for i in range(1,41):
    if i%5 == 0:
       print(i)

5
10
15
20
25
30
35
40

In [107]:
for i in range(1,41):
    if i%5 !=0:
       print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39

In [109]:
for i in range(1,50):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [111]:
for  i in range(1,10):
     if i == 5:
        break
     print(i)

1
2
3
4

In [113]:
for i in range(1,10):
    if i ==7:
        break
    print(i)

1
2
3
4
5
6

In [115]:
for i in range(1,10):
    if i ==7:
        continue
    print(i)

1
2
3
4
5
6
8
9

In [117]:
for i in range(1,10):
    if i ==7:
       continue
    print('hello',i)

hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 8
hello 9

In [119]:
for i in range(1,10):

SyntaxError: incomplete input (4054113036.py, line 1)

In [121]:
for i in range(1,10):
    pass

In [123]:
for  i in range(1,50):
     if  i % 3 == 0:
             print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [125]:
for i in range(1,50):
    if i %3 ==0:
       continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
end

In [127]:
for i in range(1,50):
    if i%3 ==0 or i%5 ==0:
       continue
    print(i)
print('end')
# it will skip all the values which is divisible by  3 or 5

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49
end

In [129]:
for i in range(1,50):
    if i%3==0 and i%5==0:
        continue
    print(i)
print('end')
# it  will skip all the values which is divisibble by 3 and 5.

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
40
41
42
43
44
46
47
48
49
end

In [131]:
for i in range(1,50):
    if (i%2 == 0):
        pass
    else:
        print(i)
print('bye')

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
bye

In [133]:
print('####')
print('####')
print('####')
print('####')
print('####')

####
####
####
####
####

In [135]:
for i in range(5):
    print('#',end=" ")

# # # # #

In [136]:
for i in range(6):
    print('#',end=" ")
print()
for i in range(6):
    print('#',end=" ")
print()

# # # # # #
# # # # # #

In [139]:
for i in range(6):
    for i in range(6):
        print('#',end=" ")
    print()

# # # # # #
# # # # # #
# # # # # #
# # # # # #
# # # # # #
# # # # # #