# TUPLE ASSIGNMENT

In [20]:
t = ()
t

()

In [22]:
len(t)

0

In [26]:
t1 = (10,20,30,40,50,60,70)
t1

(10, 20, 30, 40, 50, 60, 70)

In [30]:
t2 = ('a','b','c','e','z','m','n')
t2

('a', 'b', 'c', 'e', 'z', 'm', 'n')

In [125]:
t3 = (10.77,30.66,60.89)
t3

(10.77, 30.66, 60.89)

In [127]:
t4 = ('one','two','three','four')
t4

('one', 'two', 'three', 'four')

In [129]:
t5 = ('uday',13,(60,100),(160,90))
t5

('uday', 13, (60, 100), (160, 90))

In [133]:
t6 = (100,'uday',19.578)
t6

(100, 'uday', 19.578)

In [135]:
t7 = ('uday',25,[50,100],[150,90],{'arun','vijay'},(88,77,33))
t7

('uday', 25, [50, 100], [150, 90], {'arun', 'vijay'}, (88, 77, 33))

In [137]:
len(t7)

6

# tuple indexing

In [142]:
t2[0]

'a'

In [144]:
t4[0]

'one'

In [146]:
t4[0][0]

'o'

In [ ]:
t4[-1]

In [34]:
t2.index('a')

0

In [36]:
t1[0]

10

In [38]:
t1[0] = 100

TypeError: 'tuple' object does not support item assignment

In [40]:
sbi = ('12345' , '13th apr 2004',134567,'cvghb3992')
sbi

('12345', '13th apr 2004', 134567, 'cvghb3992')

In [42]:
t1

(10, 20, 30, 40, 50, 60, 70)

In [44]:
t3 = t1*3
t3

(10,
 20,
 30,
 40,
 50,
 60,
 70,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 10,
 20,
 30,
 40,
 50,
 60,
 70)

In [46]:
t4 = (10,20,30,30,40,40,50,60)
t4

(10, 20, 30, 30, 40, 40, 50, 60)

In [48]:
t3[:3]

(10, 20, 30)

In [50]:
t3[1:5]

(20, 30, 40, 50)

In [54]:
mytup = ('one','two','three','four','five','six','seven','eight','nine','ten')
mytup

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten')

In [56]:
mytup[0:3]

('one', 'two', 'three')

In [58]:
mytup[:3]

('one', 'two', 'three')

In [60]:
mytup[-3:]

('eight', 'nine', 'ten')

In [62]:
mytup[-2:]

('nine', 'ten')

In [64]:
mytup[-1:]

('ten',)

In [68]:
mytup[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten')

# remove and change items

In [71]:
mytup

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten')

In [73]:
del mytup[0] # it wont delete single value  but it will delete whole list.

TypeError: 'tuple' object doesn't support item deletion

In [77]:
del mytup

NameError: name 'mytup' is not defined

# loop through a tuple

In [80]:
mytup

NameError: name 'mytup' is not defined

In [82]:
mytup = ('one','two','three','four','five','six','seven','eight','nine','ten')
mytup

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten')

In [84]:
for i in mytup:
    print(i)

one
two
three
four
five
six
seven
eight
nine
ten

In [88]:
for i in enumerate(mytup):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')
(8, 'nine')
(9, 'ten')

# tuple membership

In [91]:
mytup

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten')

In [93]:
'one' in mytup# check if 'one' exist in list

True

In [95]:
'ten' in mytup

True

In [97]:
if 'four' in mytup:
    print('four is present in mytup')
else:
    print('four is not present in mytup')

four is present in mytup

In [99]:
if  'fifteen' in mytup:
    print('fifteen  is present in mytup')
else:
    print('fifteen is not present in mytup')

fifteen is not present in mytup

# index position

In [102]:
mytup

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten')

In [104]:
mytup.index('three')

2

In [106]:
mytup.index('five')

4

In [112]:
mytup1 = ('one', 'two', 'three', 'four','two','three','one','four')
mytup1

('one', 'two', 'three', 'four', 'two', 'three', 'one', 'four')

In [116]:
mytup1.index('one')

0

# Sorting

In [119]:
mytup2 = (44,56,67,86,92,10,39)
mytup2

(44, 56, 67, 86, 92, 10, 39)

In [121]:
sorted(mytup2)# returns a new sorted list and doesn't change original tuple.

[10, 39, 44, 56, 67, 86, 92]

In [123]:
sorted(mytup2, reverse=True)

[92, 86, 67, 56, 44, 39, 10]